<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="box-all" id="app">

        <header>
            <div class="container box-header">
                <div class="box-img">
                    <img src="img/img-netflix.png" alt="logo" />
                </div>
                <div class="box-search">
                    <input type="text" placeholder="ricerca" @keyup.enter="search" v-model="query">
                    <button @click="search">cerca</button>
                </div>
            </div>

        </header>

        <h2 v-if="arrayFilms.length > 0"> Film</h2>
        <div class="cds-container container">

            <!-- Disco ad esempio -->
            <div class="cd" v-for="film in arrayFilms">
                <img v-if="film.poster_path" :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" :alt="film.title">
                <img v-else src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="poster-placeholder">
                <h4>Titolo: {{ film.title || film.name}}</h4>
                <h6>Titolo originale: {{ film.original_title || film.original_name }}</h6>
                <span class="author">Lingua: {{ film.original_language }}</span>
                <span class="year">Voto: {{ film.vote_average }}</span>
            </div>
        </div>


    </div>
    

    <script src="js/script.js"></script>
</body>
</html>