<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
        <header>
            <div class="box-logo">
                <img src="img/img-netflix.png" alt="netflix.logo">
            </div>

            <div class="box-link">
                <ul>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Serie TV</a>
                    </li>
                    <li>
                        <a href="#">Film</a>
                    </li>
                    <li>
                        <a href="#">Nuovi e popolari</a>
                    </li>
                    <li>
                        <a href="#">La mia lista</a>
                    </li>
                </ul>
            </div>

            <div class="box-search">
                <ul>
                    <li>
                        <input type="text" placeholder="Titoli" @keyup.enter="search" v-model="query">
                    </li>
                    <li>
                        <a href="#">bambini</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-gift"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-bell"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </header>

        <main>
            <h2 v-if="arrayFilms.length > 0">film</h2>
            <ul>
                <li class="white" v-for="film in arrayFilms">
                    <div class="box-poster">
                        <img v-if="film.poster_path" :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" :alt="film.title">
                        <img v-else src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="poster-placeholder">
                    </div>

                    <div class="box-hover">
                        <h3>Titolo: {{ film.title || film.name}}</h3>
                        <h6>Titolo originale: {{ film.original_title || film.original_name }}</h6>
                        <div class="box-bandiera">
                            <img v-if="generaBandiera(film.original_language)" class="bandiera" :src="`img/${film.original_language}.svg`" :alt="film.original_language">
                            <img class="bandiera" v-else src="img/world.svg" alt="">
                        </div>
                        <div class="box-lingua">
                            <p>Lingua: {{ film.original_language }}</p>
                        </div>
                        <div class="box-stelle">
                            <i v-for="i in generaStella(film)" class="fas fa-star"></i>
                            <i v-for="i in (5 - generaStella(film))" class="far fa-star"></i>
                        </div>
                        <div class="box-descrizione">
                            <p v-if="film.overview">OVERVIEW: {{ film.overview }}</p>
                            <p v-else>Spiacenti descrizione non disponibile</p>
                        </div>
                    </div>



                </li>
            </ul>
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>